<center>
<br>
<br>
<br>
<h1>Todo Index</h1>
<br>
<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <% @todos.each do |todo|%>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4><%= todo.description %></h4>
            <% if todo.completed == true %>
            <p><%= 'Completada' %></p>
            <% else %>
            <p><%= 'No completada' %></p>
            <% end %>
            <p><%= todo.created_at.to_date %></p>
            <p><%= link_to 'Ver', todo %>
            <%= link_to 'Editar', edit_todo_path(todo) %>
            <%= link_to 'Borrar', todo, method: :delete %>
            <br>
            <%= link_to 'Completar', complete_todo_path(todo) , class: 'btn btn-primary'%></p>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Crear tarea', todos_new_path, class: 'btn btn-lg btn-success' %>
</center>
